/* light theme */

    /* border color: #1a1a1a; */
    /* content_box background color: #fff */
    /* normal text color: #000 */
    /* special text color: #929391 */


*,p,h1,h2,h3,h4,h5,h6,label,button,a {  
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 300;
}

h3,h4,h5,h6 {
    font-size: 14px;
}

*,p,a,span {
    font-size: 12px;  
}
    
h1 {
    font-weight: 300;
}

.table td, table td, td {
    vertical-align: middle;
}

.slim_header a {
    font-size: 10px;
}
.app_span_color {
    color: #303AB2;
}

a.app_btn {
    background: #303AB2;
    color: #fff;
    padding: .5rem 1rem;
    min-width: 100px;
    text-align: center;
}

.app_light {
    color: #000;
    a:hover {
        color: #303AB2;
    }

    h1,h2,h3,h4,h5,h6,p,label {
        color: #000;
    }

    .footer_part {
        border-top: 2px solid #1a1a1a;
    }

    .app_content_box {
        background: #fff;
    }

    .app_spl_text {
        color: #929391;
    }

    .btn-link {
        color: #4045ba;
    }

    .logout svg {
        fill: #000;
    }
}

.main_menu a i, .main_menu a svg {
  margin: 0 0.7rem;
}

.app_input_box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input, input:hover, input:focus {
    /* border: none;
    background: none; */
    box-shadow: none;
    border-color: #303ab2;
}

.form-control:focus {
    box-shadow: none;
    border-color: #303ab2;
}

.app_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.app_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app_custom_modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.imageModel {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.app_scroll_arrow_section {
    z-index: 999;
}

.app_product_heart svg,.app_product_cart svg{
    fill:transparent;
}

.app_product_heart.active svg,.app_product_cart svg.active{
    fill:#4045ba;
}

/* .app_product_cart svg.active {
    display: block;
} */
/* 
.app_product_cart svg {
    display: none;
} */

.app_card {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    border: 0.1rem solid #e4e3e9;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #e4e3e9;
    background: #f8f9fa;
    color: #000;
    margin: 0 auto; 
    width: 75%;
}

.app_shadow {
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #e4e3e9;
}

.form-control::file-selector-button {
    border-width: 0;
    background-color: #4045ba;
    color: #fff;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    margin-right: 1em;
    height: 100%;
}


.app_toast {
    opacity: 1;
    position: fixed;
    top: 5%;
    right: -100%;
    min-width: 200px;
    max-width: 250px;
    z-index: 999;
    transition: all 0.4s;
}

.app_toast .toast_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.app_counter {
    position: absolute;
    border-radius: 50%;
    background-color: #303ab2;
    width: 14px;
    height: 14px;
    right: -8px;
    top: -8px;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    color: #fff;
}

.zoom {
  transform: scale(1.5); 
}

.zoom:hover {
  transform: scale(1.5); 
}